.idea/
bees/.project
bees/AugustIteration/Natalia Możdżyńska/.buildpath
bees/AugustIteration/Natalia Możdżyńska/.project
bees/AugustIteration/Natalia Możdżyńska/.settings/org.eclipse.php.core.prefs
bees/AugustIteration/Natalia Możdżyńska/.settings/org.eclipse.wst.common.project.facet.core.xml
