.idea/
bees/.project
bees/AugustIteration/Natalia Możdżyńska/.buildpath
bees/AugustIteration/Natalia Możdżyńska/.project
bees/AugustIteration/Natalia Możdżyńska/.settings/org.eclipse.php.core.prefs
bees/AugustIteration/Natalia Możdżyńska/.settings/org.eclipse.wst.common.project.facet.core.xml
madam1980/.metadata/
madam1980/praca domowa/.buildpath
madam1980/praca domowa/.project
madam1980/praca domowa/.settings/org.eclipse.php.core.prefs
madam1980/praca domowa/.settings/org.eclipse.wst.common.project.facet.core.xml
/nbproject/private/
/bees/nbproject/private/
/bees/SeptemberIteration/TrainingZero/Test/nbproject/private/
/bees/SeptemberIteration/TrainingZero/Ania/nbproject/private/
/bees/SeptemberIteration/TrainingZero/nbproject/private/
/bees Piotr Mlynczak/nbproject/private/