@CHARSET "UTF-8";


form {
    margin: 0 auto;
    width: 370px;
    padding: 2em;
    border: 2px solid #CCC;
    -ms-border-radius: 1em;
    border-radius: 1em;
    background-color: #EDF9E8;
}

div + div {
    margin-top: 1em;
}

label {
    display: inline-block;
    width: 150px;
    text-align: right;
}

.input:focus{
    border-color: blue;
}

.input{
    border: 1px solid #999;
}

.button {
    padding-left: 280px;
}

.badValue{
    border: 3px solid #999; 
    border-color: red; 
}